.home{
    &Top{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        >h1{
            color: #6a6565;
            margin-bottom: 1rem;
        }
        @media (max-width:600px){
            flex-direction: column;
        }
    }
}