@import "@/utils/variables";

.card {
  border-radius: 40px;
  background: $white;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px $white;
  padding: 20px 35px;
  transition: box-shadow 0.34s ease-in-out, transform 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow:  20px 20px 60px #bcbcbc, -20px -20px 60px #f0eded;
    transform: translateY(-5px);
  }
  &Image{
    text-align: center;
    margin-bottom: 1rem;
  }
  &Info{
    >h5{
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
  &Price{
    text-align: right;
  }
  span {
    font-size: 0.813rem;
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: 0.813rem;
  }
}