@import "@/utils/variables";

.header{
   position:sticky;
   top:0;
   height:60px;
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding:0.3rem 2.5rem; 
   z-index: 1;
   width: 100%;
   background: $headerBackground;
   box-shadow: 8px 8px 16px #cccccc, -8px -8px 16px #f4f4f4;
   &Nav{
      flex:1;
      display: flex;
      justify-content: flex-end;
      padding-right: 3rem;
      ul{
         display: flex;
         align-items: center;
         gap:20;
        > li {
           cursor: pointer;
            list-style: none;
            margin-right: 1rem;
            margin-left: 1rem;
         }
      }
   }
   &Cart{
      position: relative;
      >i{
         color:$gray;
      }
      >h3{
         position: absolute;
         top:-50%;
         right:-70%;
         color:$gray;
         font-size: 1.4rem;
      }
   }
}