.header{
   position:sticky;
   top:0;
   height:60px;
   display:flex;
   align-items: center;
   padding:0.3rem 1rem; 
   width: 100%;
   box-shadow: 0 3px 9px rgba(0,0,0,0.2);
   background-color: #fafafa;
}